body {
  background-color: blue;
}
h1 {
  color: white
}
table {
  background-color: white;
  border: 1px solid black;
}
table.one {
  width: 25%;
  float: left;
  padding: 5px;
  margin-left: 100px;

}
table.two {
  width: 25%;
  float: right;
  padding: 5px;
  margin-right: 100px;
}
a {
  color: black;
  border: 1px solid black;
  background: white;
  position: absolute;
  top: 250px;
  left: 50%;

}
